/*
 * Base - fonts
 */

@font-face {
  font-family: "opensans-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../font/opensans-regular.woff2") format("woff2"),
    url("../font/opensans-regular.woff") format("woff");
}
