/**
 * @define Quote; use strict
 */

.Quote {
  background: var(--colour-blue-mid);
  color: var(--colour-blue-dark);
}

@media (--large) {
  .Quote {
    display: flex;
    flex-direction: column;
  }
}

/* Quote - layout variants */

@media (--large) {
  .Quote {
    flex-direction: row;
  }

  .Quote--imageRight {
    flex-direction: row-reverse;
  }

  .Quote--centre {
    display: block;
    text-align: center;
  }
}

/* Quote - colour variants */

.Quote--dark {
  background: var(--colour-blue-dark);
  color: var(--colour-white);
}

.Quote--white {
  background: var(--colour-white);
  border: 1px solid var(--colour-grey-light);
}

@media (--large) {
  .Quote--white {
    border: none;
  }
}

/* Quote - content */

.Quote-img {
  width: 100%;
}

@media (--large) {
  .Quote-img {
    align-self: flex-start;
    flex: 1;
    max-width: 50%;
  }
}

.Quote--centre .Quote-img {
  max-width: 100%;
}

.Quote-content {
  align-self: center;
  flex: 1;
  padding: var(--gutter-double);
}

.Quote-text {
  font-size: var(--font-size-h4);
  font-style: italic;
  font-weight: normal;
  line-height: var(--line-height-default);
  margin-bottom: var(--gutter-half);
}

@media (--large) {
  .Quote-text {
    font-size: var(--font-size-h3);
  }
}

.Quote-text--small {
  font-size: var(--font-size-default);
}

@media (--large) {
  .Quote-text--small {
    font-size: var(--font-size-default);
  }
}

.Quote-author {
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
}

@media (--large) {
  .Quote-author {
    font-size: var(--font-size-default);
  }
}
