/**
 * @define NewsList; use strict
 */

/* filter */

.NewsList-filter {
  border-bottom: 1px solid var(--colour-grey-light);
  margin-bottom: var(--gutter-double);
  padding-bottom: var(--gutter-double);
}

@media (--large) {
  .NewsList-filter {
    display: flex;
    justify-content: flex-end;
  }
}

.NewsList-filterSearch {
  position: relative;
}

.NewsList-filterLabel {
  align-items: center;
  display: flex;
}

.NewsList-filterInput {
  border: 1px solid var(--colour-grey-light);
  display: inline-block;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  margin-left: var(--gutter-half);
  padding: var(--gutter-half);
  padding-right: 32px;
  transition: border-color var(--transition-time);
  width: 100%;
}

.NewsList-filterInput:focus {
  border-color: var(--colour-grey-mid);
}

.NewsList-filterSubmit {
  background: var(--colour-blue-dark);
  border: 1px solid var(--colour-blue-dark);
  color: var(--colour-white);
  display: inline-block;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  padding: var(--gutter-half) var(--gutter);
  text-decoration: none;
  text-transform: uppercase;
}

.NewsList-filterSubmit:hover {
  opacity: var(--opacity-hover);
}

.NewsList-filterClear {
  cursor: pointer;
  margin-top: -8px;
  position: absolute;
  right: 60px;
  top: 50%;
}

.NewsList-filterClearIcon {
  fill: var(--colour-grey-mid);
  height: 16px;
  margin-right: var(--gutter-half);
  stroke: none;
  width: 16px;
}

/* list */

.NewsList-item {
  margin-bottom: var(--gutter-double);
}

.NewsList-link {
  display: flex;
  text-decoration: none;
}

.NewsList-thumb {
  margin-bottom: var(--gutter);
  margin-right: var(--gutter);
  max-width: 40%;
}

.NewsList-subtitle {
  color: var(--colour-blue-dark);
  display: block;
  font-size: var(--font-size-h3);
  margin-bottom: var(--gutter-half);
  text-decoration: underline;
}

.NewsList-link:hover .NewsList-subtitle {
  opacity: var(--opacity-hover);
}

.NewsList-text {
  color: var(--colour-black);
  margin-bottom: var(--gutter);
}
