/**
 * Site-wide variables
 */

:root {
  /* stylelint-disable comment-empty-line-before */

  /* fonts */

  --font-headings: "opensans-regular", sans-serif;
  --font-headings-bold: "opensans-regular", sans-serif;
  --font-body: "opensans-regular", sans-serif;

  --font-size-h1: 60px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-default: 16px;
  --font-size-small: 12px;

  --line-height-default: 1.5;
  --line-height-editorial: 1.8;

  /* colours */

  --colour-white: #fff;
  --colour-black: #333;
  --colour-grey-dark: #3e3e3e;
  --colour-grey-mid: #999;
  --colour-grey-light: #eee;
  --colour-blue-dark: #0a1a72;
  --colour-blue-mid: #cfd4fa;
  --colour-blue-light: #e7e9fb;
  --colour-blue-xlight: #f3f4fd;
  --colour-orange-dark: #e64f05;

  --opacity-hover: 0.7;

  /* transitions */

  --transition-time: 0.25s;

  /* Buttons & Forms */

  /* margins and spacing */

  --gutter: var(--font-size-default);
  --gutter-quarter: calc(var(--gutter) / 4);
  --gutter-half: calc(var(--gutter) / 2);
  --gutter-three-quarters: calc(var(--gutter) * 0.75);
  --gutter-double: calc(var(--gutter) * 2);
  --gutter-quad: calc(var(--gutter) * 4);

  --negative-gutter: calc(var(--gutter) * -1);
  --negative-gutter-half: calc(var(--gutter-half) * -1);
  --negative-gutter-double: calc(var(--gutter-double) * -1);
  --border-width: 1px;

  /* content widths */

  --width-small: 25rem; /* 400px */
  --width-medium: 37.5rem; /* 600px */
  --width-large: 53.125rem; /* 850px */
  --width-full: 75rem; /* 1200px */

  /* media queries */

  @custom-media --small (min-width: 25rem);
  @custom-media --medium (min-width: 37.5rem);
  @custom-media --large (min-width: 53.125rem);
  @custom-media --full (min-width: 75rem);
}
