# Logs
*.log

# Mac
.DS_Store
*~
*.swp
*.swo

# npm
/node_modules/
npm-debug.log

# Python
*.py[cod]
__pycache__

# Local/Dev/Production config
**/*/settings/local.py
**/*/settings/dev.py
**/*/settings/production.py

# Distribution / packaging
env/
.env
.env.local
.env.dev
.env.production

# Uploaded assets
media/

# Static assets
static/

# Compiled frontend files
frontend/static/css
frontend/static/js
phx/templates/components

# Django
phx/db.sqlite3

# Tests
__pycache__/
.pytest_cache
