/*
 * @define Hero; use strict
 */

.Hero {
  background: var(--colour-blue-light);
  max-height: 450px;
  min-height: 200px;
  overflow: hidden;
  position: relative;
}

.Hero::after {
  content: "";
  display: block;
  padding-top: 50%;
}

@media (--medium) {
  .Hero::after {
    padding-top: 35%;
  }
}

/* Hero content - title container */

.Hero-content {
  position: relative;
  z-index: 3;
}

.Hero-title {
  color: var(--colour-white);
  font-size: var(--font-size-h2);
  font-style: italic;
  left: var(--gutter-half);
  margin: 0;
  padding: var(--gutter) 0;
  position: absolute;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
  top: 0;
}

@media (--large) {
  .Hero-title {
    font-size: var(--font-size-h1);
  }
}

/* Hero caption */

.Hero-caption {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  font-style: italic;
  margin: 0;
  padding: var(--gutter-half) var(--gutter);
  position: absolute;
  right: 0;
  z-index: 2;
}

/* Hero - images */

.Hero-items {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.Hero-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity var(--transition-time) ease-in;
  width: 100%;
}

.Hero-item + .Hero-item {
  opacity: 0;
}
