{% load thumbnail %}

<div class="Hero js-Hero">
  <div class="Hero-content u-component">
    <h1 class="Hero-title">{{title}}_</h1>
  </div>
  <div class="Hero-items">
    {% for hero in heroes %}
      <div class="Hero-item js-Hero-item"
        {% if forloop.counter is 1 %}
          style="background-image:url({% thumbnail hero.image 2000x0 %});"
        {% else %}
          data-img="{% thumbnail hero.image 2000x0 %}"
        {% endif %}
      >
        {% if hero.caption %}
          <p class="Hero-caption">{{hero.caption}}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>