/**
 * @define Form; use strict
 */

.Form-row {
  margin-top: var(--gutter);
}

/* Inputs */

.Form-input--text {
  border: 1px solid var(--colour-grey-light);
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  padding: var(--gutter-half);
  width: 100%;
}

.Form-input--button {
  background: var(--colour-blue-dark);
  border: none;
  color: var(--colour-white);
  display: inline-block;
  padding: var(--gutter-half) var(--gutter);
  text-decoration: none;
  text-transform: uppercase;
}

.Form-input--button:hover {
  opacity: var(--opacity-hover);
}
