/**
 * @define FixturesList; use strict
 */

.FixturesList-row.is-inactive {
  display: none;
}

/* Filters */

@media (--medium) {
  .FixturesList-filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

/* Filters - categories */

.FixturesList-filterTitle {
  display: inline-block;
}

.FixturesList-filterList {
  display: inline-block;
  margin-bottom: var(--gutter);
}

.FixturesList-filterItem {
  display: inline-block;
}

.FixturesList-filterLink {
  color: var(--colour-blue-dark);
}

.FixturesList-filterLink:hover {
  opacity: var(--opacity-hover);
}

.FixturesList-filterLink.is-inactive {
  color: var(--colour-grey-mid);
}

/* Filters - search */

.FixturesList-filterSearch {
  margin-bottom: var(--gutter);
  position: relative;
}

.FixturesList-filterLabel {
  align-items: center;
  display: flex;
}

.FixturesList-filterInput {
  border: 1px solid var(--colour-grey-light);
  display: inline-block;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  margin-left: var(--gutter-half);
  padding: var(--gutter-half);
  padding-right: 32px;
  transition: border-color var(--transition-time);
  width: 100%;
}

.FixturesList-filterInput:focus {
  border-color: var(--colour-grey-mid);
}

.FixturesList-filterClear {
  cursor: pointer;
  margin-top: -8px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transition: opacity var(--transition-time);
}

.FixturesList-filterClear.is-active {
  opacity: 1;
}

.FixturesList-filterClearIcon {
  fill: var(--colour-grey-mid);
  height: 16px;
  margin-right: var(--gutter-half);
  stroke: none;
  width: 16px;
}

/* Table */

.FixturesList-table {
  width: 100%;
}

/* Table - head */

.FixturesList-tableHead,
.FixturesList-tableFoot {
  background: var(--colour-blue-dark);
  color: var(--colour-white);
  text-align: left;
}

.FixturesList-tableHeadCell {
  display: none;
}

@media (--medium) {
  .FixturesList-tableHeadCell {
    border-bottom: 2px solid var(--colour-white);
    display: table-cell;
    padding: var(--gutter-half);
  }
}

/* Table - body */

.FixturesList-tableBody {
  display: block;
}

@media (--medium) {
  .FixturesList-tableBody {
    display: table-row-group;
  }
}

/* Table - row */

.FixturesList-row {
  display: block;
}

@media (--medium) {
  .FixturesList-row {
    display: table-row;
  }
}

/* Table - cells */

.FixturesList-tableCell {
  display: block;
  padding: 0 var(--gutter-half);
  text-align: left;
}

.FixturesList-tableCell:first-child {
  font-size: var(--font-size-h4);
  padding-bottom: var(--gutter-quarter);
  padding-top: var(--gutter-half);
}

.FixturesList-tableCell:last-child {
  padding-bottom: var(--gutter-half);
}

@media (--medium) {
  .FixturesList-tableCell {
    display: table-cell;
    padding: var(--gutter-half);
    vertical-align: top;
  }

  .FixturesList-tableCell:first-child {
    font-size: var(--font-size-default);
  }
}

.FixturesList-row:nth-child(even) .FixturesList-tableCell {
  background-color: var(--colour-blue-xlight);
}

/* Table - links */

.FixturesList-tableLink {
  color: var(--colour-blue-dark);
}

.FixturesList-tableLink:hover {
  opacity: var(--opacity-hover);
}
