/**
 * @define FixturesList; use strict
 */

.FixturesList-row.is-inactive {
  display: none;
}

/* Filters */

@media (--medium) {
  .FixturesList-filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

/* Filters - categories */

.FixturesList-filterTitle {
  display: inline-block;
}

.FixturesList-filterList {
  display: inline-block;
  margin-bottom: var(--gutter);
}

.FixturesList-filterItem {
  display: inline-block;
}

.FixturesList-filterLink {
  color: var(--colour-blue-dark);
}

.FixturesList-filterLink:hover {
  opacity: var(--opacity-hover);
}

.FixturesList-filterLink.is-inactive {
  color: var(--colour-grey-mid);
}

/* Filters - search */

.FixturesList-filterSearch {
  margin-bottom: var(--gutter);
  position: relative;
}

.FixturesList-filterLabel {
  align-items: center;
  display: flex;
}

.FixturesList-filterInput {
  border: 1px solid var(--colour-grey-light);
  display: inline-block;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  margin-left: var(--gutter-half);
  padding: var(--gutter-half);
  padding-right: 32px;
  transition: border-color var(--transition-time);
  width: 100%;
}

.FixturesList-filterInput:focus {
  border-color: var(--colour-grey-mid);
}

.FixturesList-filterClear {
  cursor: pointer;
  margin-top: -8px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transition: opacity var(--transition-time);
}

.FixturesList-filterClear.is-active {
  opacity: 1;
}

.FixturesList-filterClearIcon {
  fill: var(--colour-grey-mid);
  height: 16px;
  margin-right: var(--gutter-half);
  stroke: none;
  width: 16px;
}
