{% extends "page.html" %}

{% block meta %}
{% include '_partials/meta.html' with title=news.title image=news.thumbnail.image.url image_alt=news.thumbnail.image_alt description=news.summary %}
{% endblock %}

{% block content %}

  <div class="Content-component">
    <div class="Editorial">
      <h2>{{news.title}}</h2>
      <p>
        {% if news.author.first_name %}
          {{news.author.first_name}} {{news.author.last_name}},
        {% endif %}
        <em>{{news.created_date|date:"l dS F Y"}}</em>
      </p>
    </div>
  </div>

  {% include '../components/components_loop.html' with components=news.components.all %}

  {% include '../components/global/PreviousNext/PreviousNext.html' with data=data %}


{% endblock %}