{% extends "page.html" %}

{% block content %}

<div class="Content-component">
  <div class="Editorial">
    {% if news_list %}
      <ul>
        {% for news_story in news_list %}
        <li>
          <a href="{{ news_story.id }}/{{ news_story.slug }}">{{ news_story.title }}</a><br/>
          ({{news_story.created_date}})<br/>
          {{ news_story.summary }}
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no news stories.</p>
    {% endif %}

  </div>
</div>
{% endblock %}