{% extends "base.html" %}

{% block meta %}
{% include '_partials/meta.html' with title='Home' %}
{% endblock %}

{% block main %}

{% include 'components/global/Hero/Hero.html' with heroes=heroes title=title %}

<section class="Content u-component">
  <div class="Content-main">
    <div class="Content-component">
      {% include 'components/global/GridBlocks/GridBlocks.html' %}
    </div>

    {% include '../components/components_loop.html' with components=components %}

  </div>
</section>

{% endblock %}
