/**
 * @define GalleryList; use strict
 */

/* filter */

.GalleryList-filter {
  border-bottom: 1px solid var(--colour-grey-light);
  margin-bottom: var(--gutter-double);
  padding-bottom: var(--gutter-double);
}

/* list */

.GalleryList-item {
  margin-bottom: var(--gutter-quad);
}

@media (--medium) {
  .GalleryList-item {
    margin-bottom: var(--gutter-double);
  }
}

.GalleryList-link {
  text-decoration: none;
}

@media (--medium) {
  .GalleryList-link {
    align-items: flex-start;
    display: flex;
  }
}

@media (--medium) {
  .GalleryList-content {
    flex: 1;
  }
}

.GalleryList-thumb {
  background: var(--colour-blue-xlight);
  margin-bottom: var(--gutter);
  position: relative;
}

@media (--medium) {
  .GalleryList-thumb {
    margin-bottom: 0;
    margin-right: var(--gutter-double);
    width: 15.625rem; /* 250px */
  }
}

.GalleryList-thumb::after {
  content: "";
  display: block;
  padding-top: 71.4%;
  width: 100%;
}

.GalleryList-thumbImg {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.GalleryList-title {
  color: var(--colour-blue-dark);
  display: block;
  font-size: var(--font-size-h3);
  font-weight: normal;
  margin-bottom: var(--gutter-quarter);
  text-decoration: underline;
}

.GalleryList-link:hover .GalleryList-title {
  opacity: var(--opacity-hover);
}

.GalleryList-text {
  color: var(--colour-black);
  line-height: var(--line-height-editorial);
  margin-bottom: var(--gutter-half);
}
