/**
 * @define Content; use strict
 */

.Content {
  margin-top: var(--gutter-double);
}

@media (--large) {
  .Content {
    display: flex;
  }
}
.Content-subnav {
  margin-bottom: var(--gutter-double);
}

@media (--large) {
  .Content-subnav {
    flex-basis: 240px;
    flex-shrink: 0;
    margin-right: var(--gutter-double);
  }
}

@media (--large) {
  .Content-main {
    flex: 1;
    overflow-x: hidden;
  }
}

.Content-component {
  margin-top: var(--gutter-double);
}

.Content-component:first-child {
  margin-top: 0;
}
