{% load thumbnail %}

<div class="ListItems">
  {% for list_item in data.list_items.all %}
  <div class="ListItems-item">
    <img class="ListItems-img" src="{% thumbnail list_item.image 800x400 crop %}" alt="{{list_item.image_alt}}" />
    <div class="ListItems-content">
      <h4 class="ListItems-title">
        {{list_item.title}}
      </h4>
      <p class="ListItems-text">
        {{list_item.content}}
      </p>
      {% if list_item.link_url and list_item.link_text %}
        <a class="ListItems-cta" href="{{list_item.link_url}}">
          {{list_item.link_text}}
        </a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
