/*
 * @define PageTitle
 */

.PageTitle {
  background: var(--colour-blue-light);
}

/* PageTitle content */

.PageTitle-title {
  color: var(--colour-blue-dark);
  font-size: var(--font-size-h2);
  font-style: italic;
  font-weight: normal;
  padding: var(--gutter) 0;
}

@media (--large) {
  .PageTitle-title {
    padding: var(--gutter-double) 0;
  }
}
