/**
 * @define Gallery; use strict
 */

.Gallery {
  height: 100%;
}

.Gallery-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity var(--transition-time) ease-in;
  width: 100%;
}

.Gallery-item + .Gallery-item {
  opacity: 0;
}

.Gallery-caption {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  font-style: italic;
  margin: 0;
  padding: var(--gutter-half) var(--gutter);
  position: absolute;
  right: 0;
}
