{% extends 'components/components_detail.html' %}
{% load components_tags %}

{% block component %}
  <h3 class="Demo-h3">Map</h3>
  <div class="Demo-block Demo-block--1">
    {% with template="components/"|add:group|add:"/"|add:component|add:"/"|add:component|add:".html" %}
      {% include template with data=data.map %}
    {% endwith %}
    <h4 class="Demo-h4">Data</h4>
    <pre class="Demo-code">{{data.map|pretty_print}}</pre>
  </div>

  <h3 class="Demo-h3">YouTube</h3>
  <div class="Demo-block Demo-block--1">
    {% with template="components/"|add:group|add:"/"|add:component|add:"/"|add:component|add:".html" %}
      {% include template with data=data.youtube %}
    {% endwith %}
    <h4 class="Demo-h4">Data</h4>
    <pre class="Demo-code">{{data.youtube|pretty_print}}</pre>
  </div>
{% endblock component %}