<div class="SocialList">
  <ul class="SocialList-list">
    <li class="SocialList-item">
      <a class="SocialList-link" href="https://www.facebook.com/phoenixathletics">
        <svg class="SocialList-icon SocialList-icon--facebook"><use xlink:href="/static/img/icons/icons.svg#icon-facebook"></use></svg>
      </a>
    </li>
    <li class="SocialList-item">
      <a class="SocialList-link" href="https://twitter.com/brightonphoenix">
        <svg class="SocialList-icon SocialList-icon--twitter"><use xlink:href="/static/img/icons/icons.svg#icon-twitter"></use></svg>
      </a>
    </li>
    <li class="SocialList-item">
      <a class="SocialList-link" href="https://www.instagram.com/brighton_phoenix/">
        <svg class="SocialList-icon SocialList-icon--instagram"><use xlink:href="/static/img/icons/icons.svg#icon-instagram"></use></svg>
      </a>
    </li>
  </ul>
</div>