/**
 * @define Breadcrumb; use strict
 */

/*
.Breadcrumb {
  border-bottom: 1px solid var(--colour-blue-light);
}
*/

.Breadcrumb-list {
  list-style: none;
  margin: 0 0 0 var(--negative-gutter);
  padding: var(--gutter-half) 0;
}

.Breadcrumb-item {
  display: inline-block;
  position: relative;
}

.Breadcrumb-item:not(:last-child)::after {
  color: var(--colour-grey-mid);
  content: "\203A"; /* > */
  font-size: 24px;
  margin-top: -2px;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.Breadcrumb-link {
  color: var(--colour-blue-dark);
  display: block;
  padding: var(--gutter-half) var(--gutter);
}

.Breadcrumb-link:hover {
  opacity: var(--opacity-hover);
}

.Breadcrumb-active {
  display: block;
  padding: var(--gutter-half) var(--gutter);
}
