/**
 * @define LinkList; use strict
 */

.LinkList-item {
  margin-bottom: var(--gutter-double);
}

.LinkList-link {
  display: flex;
  text-decoration: none;
}

.LinkList-thumb {
  margin-bottom: var(--gutter);
  margin-right: var(--gutter);
  max-width: 40%;
}

.LinkList-subtitle {
  color: var(--colour-blue-dark);
  display: block;
  font-size: var(--font-size-h3);
  margin-bottom: var(--gutter-half);
  text-decoration: underline;
}

.LinkList-link:hover .LinkList-subtitle {
  opacity: var(--opacity-hover);
}

.LinkList-text {
  color: var(--colour-black);
  margin-bottom: var(--gutter);
}
