/**
 * @define ResultsList; weak
 */

/* Filters */

@media (--medium) {
  .ResultsList-filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

/* Filters - categories */

.ResultsList-filterTitle {
  display: inline-block;
}

.ResultsList-filterList {
  display: inline-block;
  margin-bottom: var(--gutter);
}

.ResultsList-filterItem {
  display: inline-block;
}

.ResultsList-filterLink {
  color: var(--colour-blue-dark);
}

.ResultsList-filterLink:hover {
  opacity: var(--opacity-hover);
}

.ResultsList-filterLink.is-inactive {
  color: var(--colour-grey-mid);
}

/* Filters - search */

.ResultsList-filterSearch {
  margin-bottom: var(--gutter);
  position: relative;
}

.ResultsList-filterLabel {
  align-items: center;
  display: flex;
}

.ResultsList-filterInput {
  border: 1px solid var(--colour-grey-light);
  display: inline-block;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  margin-left: var(--gutter-half);
  padding: var(--gutter-half);
  padding-right: 32px;
  transition: border-color var(--transition-time);
  width: 100%;
}

.ResultsList-filterInput:focus {
  border-color: var(--colour-grey-mid);
}

.ResultsList-filterSubmit {
  background: var(--colour-blue-dark);
  border: 1px solid var(--colour-blue-dark);
  color: var(--colour-white);
  display: inline-block;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  padding: var(--gutter-half) var(--gutter);
  text-decoration: none;
  text-transform: uppercase;
}

.ResultsList-filterSubmit:hover {
  opacity: var(--opacity-hover);
}

.ResultsList-filterClear {
  cursor: pointer;
  margin-top: -8px;
  position: absolute;
  right: 60px;
  top: 50%;
}

.ResultsList-filterClearIcon {
  fill: var(--colour-grey-mid);
  height: 16px;
  margin-right: var(--gutter-half);
  stroke: none;
  width: 16px;
}

/* Result list */

.ResultsList-item {
  border: 1px solid var(--colour-blue-light);
  margin-bottom: var(--gutter-double);
  padding: var(--gutter);
  position: relative;
}

.ResultsList-item:nth-child(even) {
  background-color: var(--colour-blue-light);
}

.ResultsList-title {
  font-size: var(--font-size-h3);
  margin-bottom: var(--gutter-quarter);
}

.ResultsList-subtitle {
  font-style: italic;
  margin-bottom: var(--gutter-double);
}

.ResultsList-categories {
  font-size: var(--font-size-small);
  position: absolute;
  right: var(--gutter);
  top: var(--gutter);
}

.ResultsList-summary {
  margin-bottom: var(--gutter-double);
}

.ResultsList-results {
  margin-bottom: var(--gutter);
}

/* Table styles */

.ResultsList table {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 0;
  margin-bottom: var(--gutter-double);
  width: 100%;
}

.ResultsList tr:first-child {
  border-bottom-width: 2px;
}

.ResultsList tr {
  border-bottom: 1px solid var(--colour-grey-light);
}

.ResultsList-item:nth-child(even) tr {
  border-bottom-color: var(--colour-grey-mid);
}

.ResultsList tr:first-child td,
.ResultsList tr:first-child th {
  font-weight: bold;
  padding: var(--gutter-half) 0;
  text-align: left;
  vertical-align: top;
}

.ResultsList td {
  border-width: 0;
  padding: var(--gutter-half) 0;
  vertical-align: top;
  width: 25%;
}

/* Links */

.ResultsList-NewsList {
  list-style: none;
}

.ResultsList-linkItem {
  display: inline-block;
}

.ResultsList-linkItem + .ResultsList-linkItem::before {
  content: "|";
  margin-left: var(--gutter-quarter);
  margin-right: var(--gutter-quarter);
}

.ResultsList-link {
  color: var(--colour-blue-dark);
}

.ResultsList-link:hover {
  opacity: var(--opacity-hover);
}
