/**
 * @define PreviousNext; use strict
 */

.PreviousNext {
  border-top: 1px solid var(--colour-grey-light);
  margin-top: var(--gutter-double);
  padding-top: var(--gutter);
}

@media (--medium) {
  .PreviousNext {
    display: flex;
    justify-content: space-between;
  }
}

.PreviousNext-link {
  color: var(--colour-blue-dark);
  display: block;
  line-height: var(--line-height-default);
}

@media (--medium) {
  .PreviousNext-link {
    max-width: 40%;
  }
}

.PreviousNext-link--next {
  margin-left: auto;
  text-align: right;
}

.PreviousNext-link:hover {
  opacity: var(--opacity-hover);
}
