<footer class="Footer">
  <div class="Footer-comms">
    <div class="Footer-commsWrap u-component">
      <div class="Footer-commsBlock">
        <h4 class="Footer-commsTitle">
          Join our mailing list
        </h4>
        <p class="Footer-commsText">
          Sign up to receive our monthly Phoenix Phyler newsletter
        </p>
        <div class="Footer-commsForm">
          <form method="post" action="" class="Form">
            <fieldset>
              <legend></legend>
              <div class="Form-row">
                <input class="Form-input--text" name="email" type="email" />
              </div>
              <div class="Form-row">
                <input class="Form-input--button" type="submit" value="Join" />
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="Footer-commsBlock">
        <h4 class="Footer-commsTitle">
          Contact
        </h4>
        <p class="Footer-commsText">
          Get in touch
        </p>
        <a class="Footer-cta" href="/contact/">
          Contact us
        </a>
      </div>
      <div class="Footer-commsBlock">
        <h4 class="Footer-commsTitle">
          Keep up to date
        </h4>
        <p class="Footer-commsText">
          Follow us on social media
        </p>
        <div class="Footer-socialList">
            {% include '../SocialList/SocialList.html' %}
        </div>
      </div>
    </div>
  </div>

  <div class="Footer-links">
    <div class="Footer-linksWrap u-component">
      <ul class="Footer-linksList">
        <li class="Footer-linksItem">
          <a class="Footer-link" href="#">
            Terms &amp; Conditions
          </a>
        </li>
        <li class="Footer-linksItem">
          <a class="Footer-link" href="#">
            Privacy Policy
          </a>
        </li>
        <li class="Footer-linksItem">
          <a class="Footer-link" href="#">
            Cookies
          </a>
        </li>
      </ul>
      <p class="Footer-copyright">
        Copyright &copy; 2018 Brighton Phoenix
      </p>
    </div>
  </div>
</footer>