<footer class="Footer">
  <div class="Footer-comms">
    <div class="Footer-commsWrap u-component">
      <div class="Footer-commsBlock">
        <h4 class="Footer-commsTitle">
          Contact
        </h4>
        <p class="Footer-commsText">
          Get in touch
        </p>
        <a class="Footer-cta" href="/contact/">
          Contact us
        </a>
      </div>
      <div class="Footer-commsBlock">
        <h4 class="Footer-commsTitle">
          Keep up to date
        </h4>
        <p class="Footer-commsText">
          Follow us on social media
        </p>
        <div class="Footer-socialList">
            {% include '../SocialList/SocialList.html' %}
        </div>
      </div>
      <div class="Footer-commsBlock">
          <h4 class="Footer-commsTitle">
            Latest Tweet
          </h4>
          <p class="Footer-commsText">
            <a class="Footer-commsLink twitter-timeline" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="1" data-lang="en" data-dnt="true" href="https://twitter.com/brightonphoenix">Tweets by @brightonphoenix</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
        </div>
    </div>
  </div>

  <div class="Footer-links">
    <div class="Footer-linksWrap u-component">
      <ul class="Footer-linksList">
        <li class="Footer-linksItem">
          <a class="Footer-link" href="/terms-of-use/">
            Terms of use
          </a>
        </li>
        <li class="Footer-linksItem">
          <a class="Footer-link" href="/privacy-notice/">
            Privacy Notice
          </a>
        </li>
        <li class="Footer-linksItem">
          <a class="Footer-link" href="/cookies/">
            Cookies
          </a>
        </li>
      </ul>
      <p class="Footer-copyright">
        Copyright &copy; 2018 Brighton Phoenix
      </p>
    </div>
  </div>
</footer>