/**
 * @define Footer; use strict
 */

/* Footer comms */

.Footer-comms {
  background: var(--colour-blue-mid);
  color: var(--colour-blue-dark);
  margin-top: var(--gutter-quad);
}

.Footer-commsWrap {
  display: flex;
  flex-direction: column;
}

@media (--large) {
  .Footer-commsWrap {
    flex-direction: row;
  }
}

.Footer-commsBlock {
  border-bottom: 4px solid var(--colour-blue-dark);
  flex: 1;
  padding: var(--gutter-double) var(--gutter);
}

@media (--large) {
  .Footer-commsBlock {
    border-bottom: none;
    border-left: 4px solid var(--colour-blue-dark);
    margin-bottom: var(--gutter);
    margin-top: var(--gutter);
    padding: var(--gutter) var(--gutter-double);
  }
}

.Footer-commsBlock:last-child {
  border-bottom: none;
}

@media (--large) {
  .Footer-commsBlock:last-child {
    border-right: 4px solid var(--colour-blue-dark);
  }
}

.Footer-commsTitle {
  font-size: var(--font-size-h2);
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1rem;
}

.Footer-commsText {
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  margin-bottom: 1rem;
}

.Footer-cta {
  background: var(--colour-blue-dark);
  color: var(--colour-white);
  display: inline-block;
  padding: var(--gutter-half) var(--gutter);
  text-decoration: none;
  text-transform: uppercase;
}

.Footer-cta:hover {
  opacity: var(--opacity-hover);
}

/* Footer links */

.Footer-links {
  background: var(--colour-blue-dark);
  color: var(--colour-white);
  font-size: var(--font-size-small);
}

@media (--medium) {
  .Footer-linksWrap {
    align-items: center;
    display: flex;
  }
}

.Footer-linksList {
  display: flex;
}

.Footer-linksItem:first-child {
  margin-left: var(--negative-gutter);
}

@media (--small) {
  .Footer-linksItem:not(:last-child)::after {
    content: "|";
  }
}

.Footer-commsLink {
  color: var(--colour-blue-dark);
  display: inline-block;
  text-decoration: none;
}

.Footer-commsLink:hover {
  opacity: var(--opacity-hover);
}

.Footer-link {
  color: var(--colour-white);
  display: inline-block;
  padding: var(--gutter);
  text-decoration: none;
}

.Footer-link:hover {
  opacity: var(--opacity-hover);
}

.Footer-copyright {
  margin-left: auto;
  padding-bottom: var(--gutter);
}

@media (--medium) {
  .Footer-copyright {
    padding-bottom: 0;
  }
}
