<div class="GridBlocks">

  <div class="GridBlocks-block GridBlocks-block--phx GridBlocks-block--white">
    <h3 class="GridBlocks-title">
      {{data.phx.title}}_
    </h3>
    <p class="GridBlocks-text">
      {{data.phx.text}}
    </p>
  </div>

  <div class="GridBlocks-block GridBlocks-block--news GridBlocks-block--light">
    <h3 class="GridBlocks-title">
      {{data.news.title}}_
    </h3>
    {% for story in data.news.data %}
    <p class="GridBlocks-subtitle">
      <a class="GridBlocks-link" href="/news/{{ story.id }}/{{ story.slug }}">{{story.title}}</a> ({{story.created_date}})
    </p>
    <p class="GridBlocks-text">
      {{story.summary}}
    </p>
    {% endfor %}
  </div>

  <div class="GridBlocks-block GridBlocks-block--gallery">
    <h3 class="GridBlocks-title">
      {{data.gallery.title}}_
    </h3>
    <div class="GridBlocks-gallery">
      {% include '../Gallery/Gallery.html' with data=data.gallery.data %}
    </div>
  </div>

  <div class="GridBlocks-block GridBlocks-block--fixtures GridBlocks-block--light">
    <h3 class="GridBlocks-title">
      {{data.fixtures.title}}_
    </h3>
    <table class="GridBlocks-table">
      {% for fixture in data.fixtures.data %}
      <tr>
        <th class="GridBlocks-tableHead">{{fixture.title}}</th>
        <td class="GridBlocks-tableData">{{fixture.location}}</td>
        <td class="GridBlocks-tableData">{{fixture.event_date}}</td>
      </tr>
      {% endfor %}
    </table>
    <a class="GridBlocks-link" href="/fixtures/">View all fixtures</a>
  </div>

  <div class="GridBlocks-block GridBlocks-block--events GridBlocks-block--white">
    <h3 class="GridBlocks-title">
      {{data.events.title}}_
    </h3>
    <p class="GridBlocks-text">
      {{data.events.text}}
    </p>
  </div>

  <div class="GridBlocks-block GridBlocks-block--results GridBlocks-block--dark">
    <h3 class="GridBlocks-title">
      {{data.results.title}}_
    </h3>
    <table class="GridBlocks-table">
        {% for result in data.results.data %}
        <tr>
          <th class="GridBlocks-tableHead">{{result.fixture.title}}</th>
          <td class="GridBlocks-tableData">{{result.fixture.location}}</td>
          <td class="GridBlocks-tableData">{{result.fixture.event_date}}</td>
        </tr>
        {% endfor %}
    </table>
    <a class="GridBlocks-link" href="/fixtures/">View all results</a>
  </div>

  <div class="GridBlocks-block GridBlocks-block--join GridBlocks-block--dark">
    <h3 class="GridBlocks-title">
      {{data.join.title}}_
    </h3>
    <p class="GridBlocks-text">
      {{data.join.text}}
    </p>
  </div>
</div>