{% load static %}
{% load thumbnail %}

<div class="GridBlocks">

  {% if data.announcement %}
  <div class="GridBlocks-block GridBlocks-block--announcement GridBlocks-block--red">
    <h3 class="GridBlocks-title">
      {{data.announcement.title}}_
    </h3>
    <p class="GridBlocks-text">
      {{data.announcement.text|linebreaksbr}}
    </p>
  </div>
  {% endif %}

  <div class="GridBlocks-block GridBlocks-block--phx GridBlocks-block--white">
    <h3 class="GridBlocks-title">
      {{data.phx.title}}_
    </h3>
    <p class="GridBlocks-text">
      {{data.phx.text|linebreaksbr}}
    </p>
    <p class="GridBlocks-text">
      <a class="GridBlocks-link" href="/about/">Read more about Brighton Phoenix</a>
    </p>
  </div>

  <div class="GridBlocks-block GridBlocks-block--news GridBlocks-block--light">
    <h3 class="GridBlocks-title">
      {{data.news.title}}_
    </h3>
    <ul class="GridBlocks-list">
      {% for story in data.news.data %}
        <li class="GridBlocks-item">
          <a class="GridBlocks-itemLink" href="/news/{{ story.id }}/{{ story.slug }}">
            <div class="GridBlocks-itemThumb">
              {% if story.thumbnail %}
                <img  class="GridBlocks-itemThumbImg" src="{% thumbnail story.thumbnail.image 350x250 crop %}" alt="{{story.thumbnail.image_alt}}" />
              {% else %}
                <img  class="GridBlocks-itemThumbImg" src="{% static 'img/no-image-bg.jpg' %}" alt="" />
              {% endif %}
            </div>
            <div class="GridBlocks-itemContent">
              <p class="GridBlocks-text">
                <span class="GridBlocks-subtitle">{{story.title}}</span>
                <em>{{story.created_date|date:'D j M Y'}}</em>
              </p>
              <p class="GridBlocks-text">
                {{story.summary|truncatewords_html:20}}
              </p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    <a class="GridBlocks-cta" href="/news/">See all news articles</a>
  </div>

  <div class="GridBlocks-block GridBlocks-block--gallery">
    <h3 class="GridBlocks-title">
      {{data.gallery.title}}_
    </h3>
    <div class="GridBlocks-gallery">
      {% include '../Gallery/Gallery.html' with data=data.gallery.data %}
    </div>
  </div>

  <div class="GridBlocks-block GridBlocks-block--fixtures GridBlocks-block--dark">
    <h3 class="GridBlocks-title">
      {{data.fixtures.title}}_
    </h3>
    <table class="GridBlocks-table">
      {% for fixture in data.fixtures.data %}
      <tr class="GridBlocks-tableRow">
        <th class="GridBlocks-tableHead">
          {{fixture.title}}
          {% if fixture.age_groups %}
            - {{fixture.age_groups}}
          {% endif %}
          {% if fixture.location %}
            ({{fixture.location}})
          {% endif %}
        </th>
        <td class="GridBlocks-tableData">{{fixture.event_date|date:'D j M Y'}}</td>
      </tr>
      {% endfor %}
    </table>
    <a class="GridBlocks-cta" href="/fixtures/">See all fixtures</a>
  </div>

  <div class="GridBlocks-block GridBlocks-block--events GridBlocks-block--white">
    <h3 class="GridBlocks-title">
      {{data.events.title}}_
    </h3>
    <p class="GridBlocks-text">
      {{data.events.text}}
    </p>
    <a class="GridBlocks-cta" href="/events/">See all events</a>
  </div>

  <div class="GridBlocks-block GridBlocks-block--results GridBlocks-block--light">
    <h3 class="GridBlocks-title">
      {{data.results.title}}_
    </h3>
    <table class="GridBlocks-table">
        {% for result in data.results.data %}
        <tr class="GridBlocks-tableRow">
          <th class="GridBlocks-tableHead">
            <a class="GridBlocks-link" href="{% url 'results-index' %}#result-{{result.id}}">{{result.fixture.title}}</a>
            {% if result.fixture.age_groups %}
              - {{result.fixture.age_groups}}
            {% endif %}
            {% if result.fixture.location %}
              ({{result.fixture.location}})
            {% endif %}
          </th>
          <td class="GridBlocks-tableData">{{result.fixture.event_date|date:'D j M Y'}}</td>
        </tr>
        {% endfor %}
    </table>
    <a class="GridBlocks-cta" href="/fixtures/">See all results</a>
  </div>

  <div class="GridBlocks-block GridBlocks-block--join GridBlocks-block--dark">
    <h3 class="GridBlocks-title">
      {{data.join.title}}_
    </h3>
    <p class="GridBlocks-text">
      {{data.join.text}}
    </p>
    <p class="GridBlocks-text">
      <a class="GridBlocks-link" href="/membership/join/">Join Phoenix</a>
    </p>
  </div>
</div>