{% load static %}
{% load thumbnail %}

<div class="GridBlocks">

  {% if announcement %}
  <div class="GridBlocks-block GridBlocks-block--announcement GridBlocks-block--orange">
    <h3 class="GridBlocks-title">
      URGENT Notice_
    </h3>
    <div class="GridBlocks-text">
      {{announcement|safe}}
    </div>
  </div>
  {% endif %}

  <div class="GridBlocks-block GridBlocks-block--phx GridBlocks-block--white">
    <h3 class="GridBlocks-title">
      Brighton Phoenix_
    </h3>
    <div class="GridBlocks-text">
      {{about|safe}}
    </div>
    <p class="GridBlocks-text">
      <a class="GridBlocks-link" href="/about/">Read more about Brighton Phoenix</a>
    </p>
  </div>

  <div class="GridBlocks-block GridBlocks-block--news GridBlocks-block--light">
    <h3 class="GridBlocks-title">
      News_
    </h3>
    <ul class="GridBlocks-list">
      {% for story in news %}
        <li class="GridBlocks-item">
          <a class="GridBlocks-itemLink" href="{% url 'news-detail' pk=story.pk slug=story.slug %}">
            <div class="GridBlocks-itemThumb">
              {% if story.thumbnail %}
                <img  class="GridBlocks-itemThumbImg" src="{% thumbnail story.thumbnail.image 350x250 crop %}" alt="{{story.thumbnail.image_alt}}" />
              {% else %}
                <img  class="GridBlocks-itemThumbImg" src="{% static 'img/no-image-bg.jpg' %}" alt="" />
              {% endif %}
            </div>
            <div class="GridBlocks-itemContent">
              <h4 class="GridBlocks-subtitle">{{story.title}}</h4>
              <p class="GridBlocks-text">
                <em>{{story.created_date|date:'D j M Y'}}</em>
              </p>
              <p class="GridBlocks-text">
                {{story.summary|truncatewords_html:20}}
              </p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    <a class="GridBlocks-cta" href="{% url 'news-list' %}">See all news articles</a>
  </div>

  <div class="GridBlocks-block GridBlocks-block--gallery">
    <h3 class="GridBlocks-title">
      {% if gallery %}
      <a class="GridBlocks-titleLink" href="{% url 'gallery-detail' pk=gallery.pk slug=gallery.slug %}">
      {% endif %}
        Gallery_
      {% if gallery %}
      </a>
      {% endif %}
    </h3>
    {% if gallery %}
      <a class="GridBlocks-link" href="{% url 'gallery-detail' pk=gallery.pk slug=gallery.slug %}">
        {{gallery.title}}
      </a>
    {% endif %}
    <div class="GridBlocks-gallery">
      {% include '../Gallery/Gallery.html' with gallery=gallery.images.all controls=True fill=True %}
    </div>
  </div>

  <div class="GridBlocks-block GridBlocks-block--fixtures GridBlocks-block--dark">
    <h3 class="GridBlocks-title">
      Fixtures_
    </h3>
    <table class="GridBlocks-table">
      {% for fixture in fixtures %}
      <tr class="GridBlocks-tableRow">
        <th class="GridBlocks-tableHead">
          {{fixture.title}}
          {% if fixture.age_groups %}
            - {{fixture.age_groups}}
          {% endif %}
          {% if fixture.location %}
            ({{fixture.location}})
          {% endif %}
        </th>
        <td class="GridBlocks-tableData">{{fixture.event_date|date:'D j M Y'}}</td>
      </tr>
      {% endfor %}
    </table>
    <a class="GridBlocks-cta" href="{% url 'fixtures-index' %}">See all fixtures</a>
  </div>

  <div class="GridBlocks-block GridBlocks-block--results GridBlocks-block--light">
    <h3 class="GridBlocks-title">
      Results_
    </h3>
    <table class="GridBlocks-table">
        {% for result in results %}
        <tr class="GridBlocks-tableRow">
          <th class="GridBlocks-tableHead">
            <a class="GridBlocks-link" href="{% url 'results-index' %}#result-{{result.id}}">{{result.fixture.title}}</a>
            {% if result.fixture.age_groups %}
              - {{result.fixture.age_groups}}
            {% endif %}
            {% if result.fixture.location %}
              ({{result.fixture.location}})
            {% endif %}
          </th>
          <td class="GridBlocks-tableData">{{result.fixture.event_date|date:'D j M Y'}}</td>
        </tr>
        {% endfor %}
    </table>
    <a class="GridBlocks-cta" href="{% url 'results-index' %}">See all results</a>
  </div>

  <div class="GridBlocks-block GridBlocks-block--join GridBlocks-block--dark">
    <h3 class="GridBlocks-title">
      Join_
    </h3>
    <div class="GridBlocks-text">
      {{join|safe}}
    </div>
    <p class="GridBlocks-text">
      <a class="GridBlocks-link" href="/membership/join/">Join Phoenix</a>
    </p>
  </div>
</div>
