/**
 * @define GridBlocks; use strict
 */

.GridBlocks {
  display: grid;
  grid-gap: var(--gutter);
  grid-template-areas:
    "announcement"
    "phx"
    "news"
    "fixtures"
    "results"
    "events"
    "join"
    "gallery";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, auto) 300px;
}

@media (--large) {
  .GridBlocks {
    grid-template-areas:
      "announcement announcement announcement announcement announcement announcement"
      "phx phx phx gallery gallery gallery"
      "news news news news events events"
      "news news news news join join"
      "fixtures fixtures fixtures results results results";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
  }
}

@media (--full) {
  .GridBlocks {
    grid-template-areas:
      "announcement announcement announcement announcement"
      "news news phx phx"
      "news news gallery gallery"
      "events join gallery gallery"
      "results results fixtures fixtures";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
  }
}

/* blocks */

.GridBlocks-block {
  padding: var(--gutter);
  position: relative;
}

/* blocks - size variants */

.GridBlocks-block--announcement {
  align-self: start;
  grid-area: announcement;
}

.GridBlocks-block--phx {
  grid-area: phx;
}

.GridBlocks-block--news {
  grid-area: news;
}

.GridBlocks-block--gallery {
  grid-area: gallery;
}

.GridBlocks-block--results {
  grid-area: results;
}

.GridBlocks-block--events {
  grid-area: events;
}

.GridBlocks-block--fixtures {
  grid-area: fixtures;
}

.GridBlocks-block--join {
  grid-area: join;
}

/* blocks - colour variants */

.GridBlocks-block--white {
  background: var(--colour-white);
  border: 2px solid var(--colour-blue-dark);
  color: var(--colour-blue-dark);
}

.GridBlocks-block--light {
  background: var(--colour-blue-light);
  color: var(--colour-blue-dark);
}

.GridBlocks-block--dark {
  background: var(--colour-blue-dark);
  color: var(--colour-white);
}

.GridBlocks-block--orange {
  background: var(--colour-orange-dark);
  color: var(--colour-white);
}

/* blocks - content */

.GridBlocks-title {
  font-size: var(--font-size-h2);
  font-weight: normal;
  margin-bottom: var(--gutter);
  position: relative;
  z-index: 2;
}

.GridBlocks-subtitle {
  display: block;
  font-size: var(--font-size-h4);
  margin-bottom: var(--gutter-quarter);
}

.GridBlocks-text {
  color: var(--colour-black);
  margin-top: var(--gutter);
}

.GridBlocks-text:first-child {
  margin-top: 0;
}

.GridBlocks-block--dark .GridBlocks-text {
  color: var(--colour-white);
}

.GridBlocks-block--orange .GridBlocks-text {
  color: var(--colour-white);
}

.GridBlocks-gallery {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* blocks - lists */

.GridBlocks-item {
  margin-top: var(--gutter-double);
}

.GridBlocks-item:first-child {
  margin-top: 0;
}

.GridBlocks-itemLink {
  text-decoration: none;
}

@media (--medium) {
  .GridBlocks-itemLink {
    display: flex;
  }

  .GridBlocks-itemContent {
    flex-basis: 60%;
  }
}

.GridBlocks-itemThumb {
  margin-bottom: var(--gutter);
  position: relative;
}

@media (--medium) {
  .GridBlocks-itemThumb {
    flex-basis: 40%;
    margin-bottom: 0;
    margin-right: var(--gutter);
  }
}

.GridBlocks-itemThumb::after {
  content: "";
  display: block;
  padding-top: 71.4%;
  width: 100%;
}

.GridBlocks-itemThumbImg {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
}

@media (--medium) {
  .GridBlocks-itemThumbImg {
    width: auto;
  }
}

.GridBlocks-itemLink .GridBlocks-subtitle {
  color: var(--colour-blue-dark);
  text-decoration: underline;
}

.GridBlocks-itemLink:hover .GridBlocks-subtitle {
  opacity: var(--opacity-hover);
}

/* blocks - links */

.GridBlocks-link {
  color: var(--colour-blue-dark);
}

.GridBlocks-block--dark .GridBlocks-link {
  color: var(--colour-white);
}

.GridBlocks-block--orange .GridBlocks-link {
  color: var(--colour-white);
}

.GridBlocks-link:hover {
  opacity: var(--opacity-hover);
}

/* blocks - CTAs */

.GridBlocks-cta {
  background: var(--colour-blue-dark);
  color: var(--colour-white);
  display: inline-block;
  margin-top: var(--gutter);
  padding: var(--gutter-half) var(--gutter);
  text-decoration: none;
  text-transform: uppercase;
}

.GridBlocks-block--dark .GridBlocks-cta {
  background: var(--colour-white);
  color: var(--colour-blue-dark);
}

.GridBlocks-block--orange .GridBlocks-cta {
  background: var(--colour-white);
  color: var(--colour-blue-dark);
}

.GridBlocks-cta:hover {
  opacity: var(--opacity-hover);
}

/* blocks - tables */

.GridBlocks-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.GridBlocks-tableRow {
  border-bottom: 1px solid var(--colour-blue-mid);
}

.GridBlocks-block--dark .GridBlocks-tableRow {
  border-bottom: 1px solid var(--colour-blue-mid);
}

.GridBlocks-tableHead {
  display: block;
  font-weight: normal;
  padding-top: var(--gutter-quarter);
  text-align: left;
}

@media (--medium) {
  .GridBlocks-tableHead {
    display: table-cell;
    padding: var(--gutter-half) 0;
    vertical-align: top;
    width: 70%;
  }
}

.GridBlocks-tableData {
  display: block;
  font-style: italic;
  padding-bottom: var(--gutter-quarter);
  text-align: left;
}

@media (--medium) {
  .GridBlocks-tableData {
    display: table-cell;
    font-style: normal;
    padding: var(--gutter-half) 0;
    vertical-align: top;
    width: 30%;
  }

  .GridBlocks-tableData:last-child {
    text-align: right;
  }
}

/* Announcement */

.GridBlocks-block--announcement {
  padding-right: 5rem;
  position: relative;
}

.GridBlocks-block--announcement::before,
.GridBlocks-block--announcement::after {
  background: url("/static/img/logo_phoenix-graphic-square-white.png")
    transparent no-repeat left top;
  background-size: contain;
  content: "";
  display: block;
  height: 3rem;
  position: absolute;
  right: var(--gutter);
  top: var(--gutter);
  width: 4rem;
}

.GridBlocks-block--announcement::before {
  display: none;
}

@media (--large) {
  .GridBlocks-block--announcement {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .GridBlocks-block--announcement::before,
  .GridBlocks-block--announcement::after {
    height: 6rem;
    width: 8rem;
  }

  .GridBlocks-block--announcement::before {
    display: block;
    left: var(--gutter);
    right: auto;
  }
}

/* stylelint-disable plugin/selector-bem-pattern */

.GridBlocks-block--announcement a {
  color: var(--colour-white);
}

.GridBlocks-block--announcement a:hover {
  opacity: var(--opacity-hover);
}

/* stylelint-enable plugin/selector-bem-pattern */
