/**
 * @define SubNav; use strict
 */

.SubNav {
  font-family: var(--font-nav);
}

.SubNav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.SubNav-link {
  background: var(--colour-blue-mid);
  color: var(--colour-blue-dark);
  display: block;
  margin-bottom: 4px;
  padding: var(--gutter-half) var(--gutter);
  text-decoration: none;
  text-transform: uppercase;
}

.SubNav-link:hover {
  opacity: var(--opacity-hover);
}

.SubNav-link--active {
  background: var(--colour-blue-dark);
  color: var(--colour-white);
}

.SubNav-link--active:hover {
  color: var(--colour-white);
}

/* SubNav - sublist */

.SubNav-sublist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.SubNav-sublink {
  background: var(--colour-blue-light);
  color: var(--colour-blue-dark);
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  padding: var(--gutter-half) var(--gutter) var(--gutter-half)
    var(--gutter-double);
  text-decoration: none;
  text-transform: uppercase;
}

.SubNav-sublink:hover {
  opacity: var(--opacity-hover);
}

.SubNav-sublink--active {
  background: var(--colour-blue-dark);
  color: var(--colour-white);
}
