{% load templatehelpers %}

<div class="Pagination">
    <ul class="Pagination-list">
      {% if show_first %}
        <li class="Pagination-item">
          <a class="Pagination-link" href="{% url_self_with_params 'page' 1 request.GET.urlencode %}">&Lt;</a>
        </li>
      {% endif %}
      {% if has_previous %}
        <li class="Pagination-item">
          <a class="Pagination-link" href="{% url_self_with_params 'page' previous request.GET.urlencode %}">&lt;</a>
        </li>
      {% else %}
        <li class="Pagination-item Pagination-item--disabled">
          <span class="Pagination-span">&laquo;</span>
        </li>
      {% endif %}
      {% for i in page_numbers %}
        {% if page == i %}
          <li class="Pagination-item Pagination-item--active">
            <span class="Pagination-span">{{ i }} <span class="u-visuallyHidden">(current)</span></span>
          </li>
        {% else %}
          <li class="Pagination-item">
            <a class="Pagination-link" href="{% url_self_with_params 'page' i request.GET.urlencode %}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if has_next %}
        <li class="Pagination-item">
          <a class="Pagination-link" href="{% url_self_with_params 'page' next request.GET.urlencode %}">&gt;</a>
        </li>
      {% else %}
        <li class="Pagination-item Pagination-item--disabled">
          <span class="Pagination-span">&raquo;</span>
        </li>
      {% endif %}
      {% if show_last %}
        <li class="Pagination-item">
          <a class="Pagination-link" href="{% url_self_with_params 'page' pages request.GET.urlencode %}">&Gt;</a>
        </li>
      {% endif %}
    </ul>
</div>