/**
 * @define Pagination; use strict
 */

.Pagination {
  text-align: center;
}

.Pagination-item {
  display: inline-block;
  margin-bottom: var(--gutter);
}

.Pagination-item--disabled {
  opacity: 0.2;
}

.Pagination-link,
.Pagination-span {
  border: 1px solid var(--colour-blue-light);
  display: block;
  padding: 8px 16px;
}

.Pagination-link {
  background-color: var(--colour-blue-light);
  color: var(--colour-blue-dark);
  text-decoration: none;
}

.Pagination-link:hover {
  opacity: var(--opacity-hover);
}

.Pagination-span {
  border-color: var(--colour-blue-dark);
}
