/**
 * @define ListFilter; use strict
 */

/* filter */

@media (--large) {
  .ListFilter {
    display: flex;
    justify-content: flex-end;
  }
}

.ListFilter-search {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
}

.ListFilter-label {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

@media (--large) {
  .ListFilter-label {
    flex-basis: auto;
    margin-bottom: 0;
  }
}

.ListFilter-inputWrap {
  margin-left: var(--gutter-half);
  position: relative;
}

.ListFilter-input {
  border: 1px solid var(--colour-grey-light);
  display: inline-block;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  padding: var(--gutter-half);
  padding-right: 32px;
  transition: border-color var(--transition-time);
  width: 100%;
}

.ListFilter-input:focus {
  border-color: var(--colour-grey-mid);
}

/* Selects */

.ListFilter-selectWrap {
  border: 1px solid var(--colour-grey-light);
  display: block;
  margin-left: var(--gutter-half);
  margin-right: var(--gutter-half);
  position: relative;
}

.ListFilter-select {
  border-radius: 0;
  box-sizing: border-box;
  font-size: var(--font-size-default);
  margin: 0;
  min-width: 7rem;
  outline: none;
  padding: 0.6em 0.8em 0.5em 0.8em;
  width: 100%;
}

.ListFilter-selectWrap::after {
  color: var(--colour-blue-mid);
  content: "\25bc";
  display: none;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

@supports (-webkit-appearance: none) or (appearance: none) or
  ((-moz-appearance: none) and (mask-type: alpha)) {
  .ListFilter-selectWrap::after {
    display: block;
  }

  .ListFilter-select {
    appearance: none;
    background: none;
    border: 1px solid transparent;
    padding-right: 2em;
  }

  .ListFilter-select:focus {
    border-color: #aaa;
  }
}

.ListFilter-submit {
  background: var(--colour-blue-dark);
  border: 1px solid var(--colour-blue-dark);
  color: var(--colour-white);
  display: inline-block;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  padding: var(--gutter-half) var(--gutter);
  text-decoration: none;
  text-transform: uppercase;
}

.ListFilter-submit:hover {
  opacity: var(--opacity-hover);
}

.ListFilter-clear {
  cursor: pointer;
  margin-top: -8px;
  position: absolute;
  right: 0;
  top: 50%;
}

.ListFilter-clearIcon {
  fill: var(--colour-grey-mid);
  height: 16px;
  margin-right: var(--gutter-half);
  stroke: none;
  width: 16px;
}
